In [2]:
from user_profile.models import Profile, Address
from django.contrib.auth.models import User
from restaurant.models import Element, MenuCat, Supplier, Account, Product, ElementAddress, Food

In [2]:
qs = User.objects.all().filter(username='kh')

In [3]:
print(qs.query)

SELECT "auth_user"."id", "auth_user"."password", "auth_user"."last_login", "auth_user"."is_superuser", "auth_user"."username", "auth_user"."first_name", "auth_user"."last_name", "auth_user"."email", "auth_user"."is_staff", "auth_user"."is_active", "auth_user"."date_joined" FROM "auth_user" WHERE "auth_user"."username" = kh

In [16]:
a = Article.objects.all()

In [17]:
for e in a:
    print(e.author.name)

ملا قاسم
ملا اکبر

In [11]:
a_sr = Article.objects.select_related('author').get(id = 1)

In [12]:
a_sr.author

In [2]:
users = Account.objects.all()

In [3]:
users

In [4]:
users[0].name

'عادل'

In [6]:
suppliers = Supplier.objects.all()

In [8]:
Product().save()

In [12]:
product1 = Product.objects.all()[0]

In [13]:
product1.name = 'lebas shui'

In [18]:
product1.supplier.add(suppliers[0], suppliers[1])

In [19]:
product1.save()

In [24]:
products = Product.objects.all()

In [42]:
context = {}
for el in products:
    context[el.name] = []
    sup_e = el.supplier.all()
    print(sup_e)
    for e in sup_e:
        print(e.account.name)
        context[el.name].append(e.account.name)
context

<QuerySet [<Supplier: Supplier object (1)>, <Supplier: Supplier object (2)>]>
عادل
صدیقه
<QuerySet [<Supplier: Supplier object (1)>]>
عادل

{'lebas shui': ['عادل', 'صدیقه'], 'ekhgkeh': ['عادل']}

In [43]:
qs = Product.objects.prefetch_related('supplier')

In [39]:
qs[0].supplier.all()

In [44]:
User.objects.all()

In [56]:
def comma_seperator(value):
    temp = []

    while True:
        temp.append(str(value % 1000))
        value //= 1000
        if not value:
            break
    temp = temp[::-1]
    sep = ','
    res = sep.join(temp)
    return res

In [57]:
comma_seperator(15265325574654756454)

'15,265,325,574,654,756,454'

In [39]:
q = Food.objects.filter(name__contains='چلو',cat_manu__element__address__city='تهران', cat_manu__element__name__contains='بار', cat_manu__element__address__street__contains='شه')
print(q.query)
q

SELECT "restaurant_food"."id", "restaurant_food"."name", "restaurant_food"."description", "restaurant_food"."price", "restaurant_food"."status", "restaurant_food"."rate", "restaurant_food"."poster", "restaurant_food"."cat_manu_id" FROM "restaurant_food" INNER JOIN "restaurant_menucat" ON ("restaurant_food"."cat_manu_id" = "restaurant_menucat"."id") INNER JOIN "element" ON ("restaurant_menucat"."element_id" = "element"."id") INNER JOIN "restaurant_elementaddress" ON ("element"."id" = "restaurant_elementaddress"."element_id") INNER JOIN "geolocation_address" ON ("restaurant_elementaddress"."address_ptr_id" = "geolocation_address"."id") WHERE ("geolocation_address"."city" = تهران AND "geolocation_address"."street"::text LIKE %شه% AND "element"."name"::text LIKE %بار% AND "restaurant_food"."name"::text LIKE %چلو%)

In [49]:
'_'.join(str(ElementAddress._meta).split('.')) + '.html'

'restaurant_elementaddress.html'

In [50]:
Element._meta.model_name

'element'